In [1]:
import os, sys
import numpy as np
import pandas as pd
from sqlalchemy.types import NVARCHAR, Text, Integer, Float

# Load data from generated from `MS_EMR/scripts` about drugs, diagnoses co-occurence.

In [2]:
id_ingredients = pd.read_csv('../data/single_ingredients.csv').set_index('id')
print id_ingredients.shape
id_ingredients.head()

(1588, 1)

             Ingredient
id
0   5-HYDROXYTRYPTOPHAN
1   6-AMINOCAPROIC ACID
2              ABACAVIR
3             ABATACEPT
4             ABCIXIMAB

In [3]:
id_diagnoses = pd.read_csv('../data/all_ICD9s_explained.csv').set_index('id')
print id_diagnoses.shape
id_diagnoses.head()

(14353, 2)

      ICD9                                         diagnosis
id
0   813.41                           Closed Colles' fracture
1   E849.8     Accidents occurring in other specified places
2   E885.9  Fall from other slipping, tripping, or stumbling
3    424.1                            Aortic valve disorders
4    155.0              Malignant neoplasm of liver, primary

In [4]:
id_diagnoses.tail()

         ICD9                                          diagnosis
id
14580  200.46      Mantle cell lymphoma, intrapelvic lymph nodes
14581   749.2                        Cleft palate with cleft lip
14582  948.61  Burn [any degree] involving 60-69 percent of b...
14583   979.6  Poisoning by other and unspecified viral and r...
14584   789.4                                 Abdominal rigidity

# Load data from RepurposeHub to map pert_id to drug names

In [5]:
repo_df = pd.read_csv('../../Repurposing_Hub_export.txt', sep='\t').set_index('Name')
print repo_df.shape
repo_df.head()

(5628, 4)

,MOA,Target,Id,Phase
Name,,,,
A-317491,purinergic receptor antagonist,P2RX3,"BRD-K38019854-323-01-4, BRD-K38019854-001-01-6",Preclinical
A-33903,NaN,NaN,BRD-A40302156-001-01-9,Phase 2
A-366,histone lysine methyltransferase inhibitor,"EHMT1, EHMT2","BRD-K06182768-001-02-3, BRD-K06182768-001-01-5...",Preclinical
A-674563,AKT inhibitor,"AKT1, PKIA, PRKACA",BRD-K78177893-001-02-4,Preclinical
A-7,calmodulin antagonist,NaN,BRD-K03301001-003-02-5,Preclinical

In [6]:
repo_df['pert_ids'] = repo_df['Id'].map(lambda x: set(['-'.join(s.split('-')[0:2]) for s in x.split(', ')]))
repo_df.head()

,MOA,Target,Id,Phase,pert_ids
Name,,,,,
A-317491,purinergic receptor antagonist,P2RX3,"BRD-K38019854-323-01-4, BRD-K38019854-001-01-6",Preclinical,{BRD-K38019854}
A-33903,NaN,NaN,BRD-A40302156-001-01-9,Phase 2,{BRD-A40302156}
A-366,histone lysine methyltransferase inhibitor,"EHMT1, EHMT2","BRD-K06182768-001-02-3, BRD-K06182768-001-01-5...",Preclinical,{BRD-K06182768}
A-674563,AKT inhibitor,"AKT1, PKIA, PRKACA",BRD-K78177893-001-02-4,Preclinical,{BRD-K78177893}
A-7,calmodulin antagonist,NaN,BRD-K03301001-003-02-5,Preclinical,{BRD-K03301001}

In [7]:
d_pert_id_name = {}
for name, row in repo_df.iterrows():
    for pert_id in row['pert_ids']:
        d_pert_id_name[pert_id] = name

print len(d_pert_id_name)        
repo_df = repo_df.drop(['pert_ids', 'Id'], axis=1)

6172

In [8]:
# Make a dataframe from repo_df indexed by pert_id
repo_df_by_pert = []
for pert_id, name in d_pert_id_name.items():
    rec = repo_df.loc[name].to_dict()
    rec['pert_id'] = pert_id
    rec['Name'] = name
    repo_df_by_pert.append(rec)

repo_df_by_pert = pd.DataFrame(repo_df_by_pert).set_index('pert_id')
print repo_df_by_pert.shape
repo_df_by_pert.head()

(6172, 4)

,MOA,Name,Phase,Target
pert_id,,,,
BRD-K15916496,"cytochrome P450 inhibitor, imidazoline recepto...",clotrimazole,Launched,"CYP3A4, KCNN4, NR1I2, NR1I3, TRPM2, TRPM4, TRPM8"
BRD-K84459715,NaN,zopolrestat,Phase 2,NaN
BRD-K32289541,Ras GTPase inhibitor,EHop-016,Preclinical,"RAC1, RAC3"
BRD-A55312468,ATPase inhibitor,k-strophanthidin,Phase 2,ATP1A1
BRD-K64874225,"ACAT inhibitor, sterol regulatory element bind...",NSC-4644,Phase 2,PYGM

# Load the metadata about pert_ids from `euclid4.drug`

In [9]:
from sqlalchemy import create_engine
engine = create_engine('mysql://euclid:elements@amp.pharm.mssm.edu:3306/euclid4?charset=utf8')
euclid4_drugs_df = pd.read_sql('drug', engine, index_col='pert_id')
print euclid4_drugs_df.shape
euclid4_drugs_df.head()

(20449, 16)

,alt_name,pert_iname,LSM_id,mls_id,ncgc_id,pert_collection,pert_icollection,pert_summary,pert_url,pubchem_cid,canonical_smiles,inchi_key,inchi_string,molecular_formula,molecular_wt,structure_url
pert_id,,,,,,,,,,,,,,,,
BRD-A00100033,NULL,nifurtimox,LSM-1232,NULL,NULL,BIOA,BIOA,NULL,http://en.wikipedia.org/wiki/Nifurtimox,6842999,CC1CS(=O)(=O)CCN1N=Cc2ccc(o2)[N+](=O)[O-],InChIKey=ARFHIAQFJWUCFH-UHFFFAOYSA-N,"InChI=1S/C10H13N3O5S/c1-8-7-19(16,17)5-4-12(8)...",C10H13N3O5S,287.292,http://data.lincscloud.org/pert_images/BRD-A00...
BRD-A00150179,NULL,5-hydroxytryptophan,NULL,NULL,NULL,BIOA,BIOA,NULL,NULL,589768,NC(Cc1c[nH]c2cccc(O)c12)C(O)=O,InChIKey=QSHLMQDRPXXYEE-UHFFFAOYSA-N,InChI=1S/C11H12N2O3/c12-7(11(15)16)4-6-5-13-8-...,C11H12N2O3,220.225,http://data.lincscloud.org/pert_images/BRD-A00...
BRD-A00267231,NULL,hemado,LSM-1233,NULL,NULL,BIOA,BIOA,NULL,http://www.sigmaaldrich.com/catalog/product/si...,4043357,CCCCC#Cc1nc(NC)c2ncn(C3OC(CO)C(O)C3O)c2n1,InChIKey=KOCIMZNSNPOGOP-UHFFFAOYSA-N,InChI=1S/C17H23N5O4/c1-3-4-5-6-7-11-20-15(18-2...,C17H23N5O4,361.396,http://data.lincscloud.org/pert_images/BRD-A00...
BRD-A00420644,SA-3676,SA-3676,LSM-6366,NULL,NULL,COMB,MLPCN,NULL,NULL,2853908,CCN1C2C(C(=NC2Nc3ccccc13)OC)c4ccccc4,InChIKey=ASCBUEVCEVGOFP-UHFFFAOYSA-N,InChI=1S/C19H21N3O/c1-3-22-15-12-8-7-11-14(15)...,C19H21N3O,307.389,http://data.lincscloud.org/pert_images/BRD-A00...
BRD-A00474148,NULL,BRD-A00474148,LSM-1234,MLS002703114,NCGC00187778-01,STRD,BIOA,NULL,NULL,44825297,Oc1ccc(cc1)N1CCN(CC1)[S+]([O-])(=O)c1ccc2NC(=O...,InChIKey=RCGAUPRLRFZAMS-UHFFFAOYSA-N,InChI=1S/C18H19N3O4S/c22-15-3-1-14(2-4-15)20-7...,C18H19N3O4S,373.426,http://data.lincscloud.org/pert_images/BRD-A00...

In [10]:
print len(np.intersect1d(euclid4_drugs_df.index, repo_df_by_pert.index))

2121

In [11]:
shared_pert_ids = np.intersect1d(euclid4_drugs_df.index, repo_df_by_pert.index)
print len(shared_pert_ids)
pert_ids_uniq_in_repo = np.setdiff1d(repo_df_by_pert.index, euclid4_drugs_df.index)
print len(pert_ids_uniq_in_repo)

2121
4051

In [12]:
repo_df_by_pert.loc[shared_pert_ids]['Phase'].value_counts()

Launched           1118
Preclinical         630
Phase 2             129
Phase 1              81
Phase 3              79
Withdrawn            62
Phase 2/Phase 3      11
Phase 1/Phase 2      11
Name: Phase, dtype: int64

In [13]:
repo_df_by_pert.loc[pert_ids_uniq_in_repo]['Phase'].value_counts()

Launched           1667
Preclinical        1000
Phase 2             568
Phase 1             386
Phase 3             322
Phase 1/Phase 2      44
Withdrawn            36
Phase 2/Phase 3      27
Name: Phase, dtype: int64

In [14]:
drug_names_shared = set(repo_df_by_pert.loc[shared_pert_ids]['Name']) 
drug_names_uniq_in_repo = set(repo_df_by_pert.loc[pert_ids_uniq_in_repo]['Name']) 
print len(drug_names_shared), len(drug_names_uniq_in_repo)
print len(drug_names_shared & drug_names_uniq_in_repo)

2075 3718
176

In [15]:
repo_df_by_pert.query('Phase == "Launched"')['Name'].nunique()

2341

In [16]:
names_in_repo = set(map(lambda x:x.upper(), repo_df_by_pert['Name']))
names_in_euclid = set(map(lambda x:x.upper(), euclid4_drugs_df['pert_iname']))
print len(names_in_repo), len(names_in_euclid)
print len(names_in_repo & names_in_euclid)

5617 19799
2087

In [17]:
repo_df_by_pert.head()

,MOA,Name,Phase,Target
pert_id,,,,
BRD-K15916496,"cytochrome P450 inhibitor, imidazoline recepto...",clotrimazole,Launched,"CYP3A4, KCNN4, NR1I2, NR1I3, TRPM2, TRPM4, TRPM8"
BRD-K84459715,NaN,zopolrestat,Phase 2,NaN
BRD-K32289541,Ras GTPase inhibitor,EHop-016,Preclinical,"RAC1, RAC3"
BRD-A55312468,ATPase inhibitor,k-strophanthidin,Phase 2,ATP1A1
BRD-K64874225,"ACAT inhibitor, sterol regulatory element bind...",NSC-4644,Phase 2,PYGM

In [18]:
euclid4_drugs_df_merged = euclid4_drugs_df.merge(repo_df_by_pert[['MOA', 'Target', 'Phase']], 
                                                 left_index=True, right_index=True,
                                                 how='left')
print euclid4_drugs_df_merged.shape
euclid4_drugs_df_merged.head()

(20449, 19)

,alt_name,pert_iname,LSM_id,mls_id,ncgc_id,pert_collection,pert_icollection,pert_summary,pert_url,pubchem_cid,canonical_smiles,inchi_key,inchi_string,molecular_formula,molecular_wt,structure_url,MOA,Target,Phase
pert_id,,,,,,,,,,,,,,,,,,,
BRD-A00100033,NULL,nifurtimox,LSM-1232,NULL,NULL,BIOA,BIOA,NULL,http://en.wikipedia.org/wiki/Nifurtimox,6842999,CC1CS(=O)(=O)CCN1N=Cc2ccc(o2)[N+](=O)[O-],InChIKey=ARFHIAQFJWUCFH-UHFFFAOYSA-N,"InChI=1S/C10H13N3O5S/c1-8-7-19(16,17)5-4-12(8)...",C10H13N3O5S,287.292,http://data.lincscloud.org/pert_images/BRD-A00...,DNA inhibitor,NaN,Launched
BRD-A00150179,NULL,5-hydroxytryptophan,NULL,NULL,NULL,BIOA,BIOA,NULL,NULL,589768,NC(Cc1c[nH]c2cccc(O)c12)C(O)=O,InChIKey=QSHLMQDRPXXYEE-UHFFFAOYSA-N,InChI=1S/C11H12N2O3/c12-7(11(15)16)4-6-5-13-8-...,C11H12N2O3,220.225,http://data.lincscloud.org/pert_images/BRD-A00...,NaN,NaN,NaN
BRD-A00267231,NULL,hemado,LSM-1233,NULL,NULL,BIOA,BIOA,NULL,http://www.sigmaaldrich.com/catalog/product/si...,4043357,CCCCC#Cc1nc(NC)c2ncn(C3OC(CO)C(O)C3O)c2n1,InChIKey=KOCIMZNSNPOGOP-UHFFFAOYSA-N,InChI=1S/C17H23N5O4/c1-3-4-5-6-7-11-20-15(18-2...,C17H23N5O4,361.396,http://data.lincscloud.org/pert_images/BRD-A00...,NaN,NaN,NaN
BRD-A00420644,SA-3676,SA-3676,LSM-6366,NULL,NULL,COMB,MLPCN,NULL,NULL,2853908,CCN1C2C(C(=NC2Nc3ccccc13)OC)c4ccccc4,InChIKey=ASCBUEVCEVGOFP-UHFFFAOYSA-N,InChI=1S/C19H21N3O/c1-3-22-15-12-8-7-11-14(15)...,C19H21N3O,307.389,http://data.lincscloud.org/pert_images/BRD-A00...,NaN,NaN,NaN
BRD-A00474148,NULL,BRD-A00474148,LSM-1234,MLS002703114,NCGC00187778-01,STRD,BIOA,NULL,NULL,44825297,Oc1ccc(cc1)N1CCN(CC1)[S+]([O-])(=O)c1ccc2NC(=O...,InChIKey=RCGAUPRLRFZAMS-UHFFFAOYSA-N,InChI=1S/C18H19N3O4S/c22-15-3-1-14(2-4-15)20-7...,C18H19N3O4S,373.426,http://data.lincscloud.org/pert_images/BRD-A00...,NaN,NaN,NaN

In [22]:

euclid4_drugs_df_merged.rename(index=str, 
                               columns={'MOA': 'moa', 'Target': 'target', 'Phase': 'phase', 'Ingredient_id': 'ingredient_id'},
                               inplace=True)
euclid4_drugs_df_merged.to_sql('drug_repurposedb', engine, 
                               if_exists='replace',
                               dtype={
                                   'pert_id':NVARCHAR(32),
                                   'alt_name':NVARCHAR(255),
                                   'pert_iname':NVARCHAR(255),
                                   'LSM_id':NVARCHAR(16),
                                   'mls_id':NVARCHAR(16),
                                   'ncgc_id':NVARCHAR(16),
                                   'pert_collection':NVARCHAR(16),
                                   'pert_icollection':NVARCHAR(16),
                                   'pert_summary': Text,
                                   'pert_url': Text,
                                   'pubchem_cid':NVARCHAR(16),
                                   'canonical_smiles':Text,
                                   'inchi_key': Text,
                                   'inchi_string':Text,
                                   'molecular_formular':Text,
                                   'molecular_wt': Float,
                                   'structure_url':Text,
                                   'moa': NVARCHAR(255),
                                   'target': Text,
                                   'phase': NVARCHAR(255),
                                   'ingredient_id': Integer,
                               })

/Library/Python/2.7/site-packages/sqlalchemy/engine/default.py:579: SAWarning: Unicode type received non-unicode bind param value
  param.append(processors[key](compiled_params[key]))

In [19]:
names_in_ingredints = set(id_ingredients['Ingredient'])
print len(names_in_ingredints)

print len(names_in_repo & names_in_ingredints)
print len(names_in_euclid & names_in_ingredints)

1588
882
667

In [20]:
len(names_in_repo & names_in_euclid & names_in_ingredints)

637

In [21]:
# Make a synonyms dict for all pert_ids
name_pert_id_df = repo_df_by_pert['Name'].to_frame().reset_index()
name_pert_id_df['Name'] = name_pert_id_df['Name'].map(lambda x:x.upper())
print name_pert_id_df.shape
name_pert_id_df.tail()

(6172, 2)

            pert_id       Name
6167  BRD-K46142322   RS-67333
6168  BRD-K84996356    AZD3514
6169  BRD-K68810443   ADIPORON
6170  BRD-K13888115  LY2365109
6171  BRD-K92588747     2-CMDO

In [22]:
name_pert_id_df2 = euclid4_drugs_df['pert_iname'].to_frame().reset_index()
print name_pert_id_df2.shape
name_pert_id_df2 = name_pert_id_df2.loc[name_pert_id_df2['pert_iname'] != name_pert_id_df2['pert_id']]
name_pert_id_df2['pert_iname'] =  name_pert_id_df2['pert_iname'].map(lambda x:x.upper())
name_pert_id_df2.rename(index=str, columns={'pert_iname': 'Name'}, inplace=True )
print name_pert_id_df2.shape
name_pert_id_df2.head()

(20449, 2)
(4559, 2)

         pert_id                 Name
0  BRD-A00100033           NIFURTIMOX
1  BRD-A00150179  5-HYDROXYTRYPTOPHAN
2  BRD-A00267231               HEMADO
3  BRD-A00420644              SA-3676
5  BRD-A00520476            OTENZEPAD

In [23]:
name_pert_id_df3 = []
for pert_id, row in euclid4_drugs_df.query('alt_name != "NULL"').iterrows():
    alt_names = row['alt_name']
    if alt_names:
        for alt_name in alt_names.upper().split('|'):
            if alt_name != '':
                name_pert_id_df3.append({'Name':alt_name.strip(), 'pert_id':pert_id})

name_pert_id_df3 = pd.DataFrame(name_pert_id_df3)
print name_pert_id_df3.shape
name_pert_id_df3 = name_pert_id_df3[['pert_id', 'Name']]
name_pert_id_df3.head()

(3289, 2)

         pert_id           Name
0  BRD-A00420644        SA-3676
1  BRD-A00520476      AF-DX 116
2  BRD-A00546892          S1285
3  BRD-A00758722  NORETHYNODREL
4  BRD-A00827783  DIPROPHYLLINE

In [24]:
name_pert_id_df3.sort_values('Name')[:10]

            pert_id                    Name
906   BRD-K08486545             (+)-CYMARIN
685   BRD-A99182808          (+)-USNIC-ACID
549   BRD-A75455249            (+/-)-KAVAIN
464   BRD-A64228451        (-)-TERREIC-ACID
2009  BRD-K54028654       (D)-(+)-TREHALOSE
650   BRD-A91555231  (L)-(-)-NOREPINEPHRINE
1773  BRD-K44993696        (R)-(+)-ATENOLOL
159   BRD-A20589515           (RS)-3,5-DHPG
1066  BRD-K14329163      (S)-(-)-BAY K 8644
2757  BRD-K81521265    1,3-DICYCLOHEXYLUREA

In [25]:
names_pert_id_df_full = name_pert_id_df.append(name_pert_id_df2).append(name_pert_id_df3)
print names_pert_id_df_full.shape
names_pert_id_df_full.drop_duplicates(inplace=True)
print names_pert_id_df_full.shape

(14020, 2)
(10798, 2)

In [26]:
print names_pert_id_df_full['pert_id'].nunique()
print names_pert_id_df_full['Name'].nunique()
names_pert_id_df_full.sort_values('Name').head()

8729
8890

            pert_id                                              Name
1152  BRD-A76934284            (+)-3-(1-PROPYL-PIPERIDIN-3-YL)-PHENOL
906   BRD-K08486545                                       (+)-CYMARIN
685   BRD-A99182808                                    (+)-USNIC-ACID
283   BRD-A18795974  (+/-)-7-HYDROXY-2-(N,N-DI-N-PROPYLAMINO)TETRALIN
549   BRD-A75455249                                      (+/-)-KAVAIN

In [27]:
print max(map(len, names_pert_id_df_full['pert_id'].unique()))

20

In [28]:
names_pert_id_df_full.index.name = 'id'
names_pert_id_df_full.to_sql('drug_synonyms', engine, 
                             if_exists='replace', index=True,
                             dtype={
                                 'id': Integer,
                                 'pert_id': NVARCHAR(20)}
                            )

/Library/Python/2.7/site-packages/sqlalchemy/engine/default.py:579: SAWarning: Unicode type received non-unicode bind param value
  param.append(processors[key](compiled_params[key]))

In [30]:
print len(set(names_pert_id_df_full['Name'])), len(set(id_ingredients['Ingredient']))
print len(set(names_pert_id_df_full['Name']) & set(id_ingredients['Ingredient']))

8890 1588
931

In [31]:
id_ingredients_merged = id_ingredients.reset_index().merge(names_pert_id_df_full, 
                                             left_on='Ingredient',
                                             right_on='Name',
                                             how='left'
                                            )
id_ingredients_merged = id_ingredients_merged.drop(['Name'], axis=1)
id_ingredients_merged.index.name = 'associtaion_id'
print id_ingredients_merged.shape
id_ingredients_merged.head(30)

(2229, 3)

                id                                Ingredient        pert_id
associtaion_id
0                0                       5-HYDROXYTRYPTOPHAN  BRD-A73930134
1                0                       5-HYDROXYTRYPTOPHAN  BRD-A00150179
2                1                       6-AMINOCAPROIC ACID            NaN
3                2                                  ABACAVIR  BRD-A95032015
4                2                                  ABACAVIR  BRD-K17443395
5                3                                 ABATACEPT            NaN
6                4                                 ABCIXIMAB            NaN
7                5                               ABIRATERONE  BRD-K00111504
8                5                               ABIRATERONE  BRD-K55301415
9                6                        ABOBOTULINUMTOXINA            NaN
10               7                        ACAI BERRY EXTRACT            NaN
11               8                               ACAMPROSATE  BRD-K26262077
12               8                               ACAMPROSATE  BRD-M41783010
13               9                                  ACARBOSE  BRD-A16444946
14               9                                  ACARBOSE  BRD-K44276885
15               9                                  ACARBOSE  BRD-K01621533
16              10                                ACEBUTOLOL  BRD-A29260609
17              11  ACELLULAR PERTUSSIS VACCINE, INACTIVATED            NaN
18              12                                 ACEMANNAN            NaN
19              13                             ACETAMINOPHEN  BRD-K41524689
20              14                                   ACETATE            NaN
21              15                             ACETAZOLAMIDE  BRD-K43457670
22              16                               ACETIC ACID            NaN
23              17                                   ACETONE            NaN
24              18                           ACETYLCARNITINE            NaN
25              19                            ACETYLCYSTEINE  BRD-K67174965
26              19                            ACETYLCYSTEINE  BRD-K59058747
27              20                                 ACITRETIN  BRD-K62012036
28              20                                 ACITRETIN  BRD-K90699611
29              21                                ACLIDINIUM  BRD-K74363950

In [32]:
for col in id_ingredients_merged.columns:
    print col, id_ingredients_merged[col].nunique()

id 1588
Ingredient 1588
pert_id 1564

In [33]:
# Write to a SQL table
id_ingredients_merged.to_sql('drug_map', engine, if_exists='replace', dtype={'pert_id': NVARCHAR(20)})

In [34]:
id_ingredients_merged = pd.read_sql_table('drug_map', engine)

In [34]:
print id_ingredients_merged[['id', 'pert_id']].drop_duplicates().shape

(2229, 2)

In [38]:
id_ingredients_merged.dropna(axis=0).count()

id            1572
Ingredient    1572
pert_id       1572
dtype: int64

In [39]:
for col in id_ingredients_merged.dropna(axis=0).columns:
    print col, id_ingredients_merged.dropna(axis=0)[col].nunique()

id 931
Ingredient 931
pert_id 1564

In [40]:
d_pert_id_ingredient_id = dict(zip(id_ingredients_merged.dropna(axis=0)['pert_id'], 
                                   id_ingredients_merged.dropna(axis=0)['id']))
print len(d_pert_id_ingredient_id)

1564

In [41]:
d_ingredient_id_pert_id = dict(zip(id_ingredients_merged.dropna(axis=0)['id'], 
                                   id_ingredients_merged.dropna(axis=0)['pert_id']))
print len(d_ingredient_id_pert_id)

931

In [42]:
euclid4_drugs_df_merged['ingredient_id'] = [d_pert_id_ingredient_id.get(pert_id, None) 
                                            for pert_id in euclid4_drugs_df_merged.index]
print euclid4_drugs_df_merged.shape

(20449, 20)

In [43]:
max(euclid4_drugs_df_merged.index.map(len))

20

In [44]:
euclid4_drugs_df_merged.count()

alt_name             20433
pert_iname           20449
LSM_id               20449
mls_id               20412
ncgc_id              20412
pert_collection      20412
pert_icollection     20412
pert_summary         20412
pert_url             20412
pubchem_cid          20445
canonical_smiles     20447
inchi_key            20412
inchi_string         20447
molecular_formula    20447
molecular_wt         20447
structure_url        20449
MOA                   2090
Target                1764
Phase                 2121
ingredient_id         1038
dtype: int64

In [45]:
euclid4_drugs_df_merged = euclid4_drugs_df_merged.replace('NULL', np.nan)
euclid4_drugs_df_merged.count()

alt_name              2612
pert_iname           20449
LSM_id               13833
mls_id                1326
ncgc_id                503
pert_collection      20387
pert_icollection     20376
pert_summary           830
pert_url              2950
pubchem_cid          20364
canonical_smiles     20365
inchi_key            20330
inchi_string         20365
molecular_formula    20365
molecular_wt         20447
structure_url        20367
MOA                   2090
Target                1764
Phase                 2121
ingredient_id         1038
dtype: int64

In [46]:
euclid4_drugs_df_merged = euclid4_drugs_df_merged.replace('', np.nan)
euclid4_drugs_df_merged.count()

alt_name              2612
pert_iname           20449
LSM_id               13833
mls_id                1326
ncgc_id                503
pert_collection      20387
pert_icollection     20376
pert_summary           830
pert_url              2950
pubchem_cid          20364
canonical_smiles     20365
inchi_key            20330
inchi_string         20365
molecular_formula    20365
molecular_wt         20447
structure_url        20367
MOA                   2090
Target                1764
Phase                 2121
ingredient_id         1038
dtype: int64

In [44]:
euclid4_drugs_df_merged.to_sql('drug_repurposedb', engine, 
                               if_exists='replace',
                               dtype={
                                   'pert_id':NVARCHAR(20),
                                   'alt_name':NVARCHAR(255),
                                   'pert_iname':NVARCHAR(255),
                                   'LSM_id':NVARCHAR(16),
                                   'mls_id':NVARCHAR(16),
                                   'ncgc_id':NVARCHAR(16),
                                   'pert_collection':NVARCHAR(16),
                                   'pert_icollection':NVARCHAR(16),
                                   'pert_summary': Text,
                                   'pert_url': Text,
                                   'pubchem_cid':NVARCHAR(16),
                                   'canonical_smiles':Text,
                                   'inchi_key': Text,
                                   'inchi_string':Text,
                                   'molecular_formular':Text,
                                   'molecular_wt': Float,
                                   'structure_url':Text,
                                   'moa': NVARCHAR(255),
                                   'target': Text,
                                   'phase': NVARCHAR(255),
                                   'ingredient_id': Integer,
                               })

# Find the most frequent co-prescribed drug and diagnosis for pert_ids

In [47]:
rx_dx_counts = np.loadtxt('../data/rx_dx_count_matrix.txt', dtype=np.int)
print rx_dx_counts.shape, rx_dx_counts.dtype

(1588, 14585) int64

In [48]:
rx_rx_counts = np.loadtxt('../data/rx_count_matrix.txt', dtype=np.int)
print rx_rx_counts.shape, rx_rx_counts.dtype

(1588, 1588) int64

In [49]:
d_id_ingredient = dict(zip(id_ingredients.index, id_ingredients['Ingredient']))
print len(d_id_ingredient)
d_id_diagnosis = dict(zip(id_diagnoses.index, id_diagnoses['diagnosis']))
print len(d_id_diagnosis)

1588
14353

# Load the total counts for Rx and Dx

In [50]:
engine_laforge = create_engine('mysql://wangz10:collab2016@la-forge.mssm.edu/proj_aging')
dx_total_counts = pd.read_sql_query('''
SELECT * FROM dx_id_counts
''', engine_laforge).set_index('id')
print dx_total_counts.shape
dx_total_counts.head()

(14353, 1)

    COUNT(`id`)
id
0          1014
1         26607
2         17425
3         91959
4         90189

In [51]:
print (dx_total_counts['COUNT(`id`)'] > 0 ).sum()
# convert to an array
dx_total_counts_array = np.zeros(rx_dx_counts.shape[1], dtype=np.int)
dx_total_counts_array[dx_total_counts.index.values] = dx_total_counts['COUNT(`id`)']
print dx_total_counts_array.shape

14353
(14585,)

In [52]:
rx_total_counts = pd.read_sql_query('''
SELECT * FROM ingredient_id_counts
''', engine_laforge).set_index('ingredient_id')
print rx_total_counts.shape
rx_total_counts.head()

(1588, 1)

               count
ingredient_id
0                  3
1                 11
2              30040
3                199
4                 33

In [53]:
print (rx_total_counts['count'] > 0 ).sum()
# convert to an array
rx_total_counts_array = np.zeros(rx_rx_counts.shape[1], dtype=np.int)
rx_total_counts_array[rx_total_counts.index.values] = rx_total_counts['count']
print rx_total_counts_array.shape

1588
(1588,)

In [54]:
# Use the total counts to normalize the co-occurence matrices
non_zero_mask = dx_total_counts_array > 0
rx_dx_counts_normed = np.zeros_like(rx_dx_counts, dtype=np.float)
rx_dx_counts_normed[:, non_zero_mask] = rx_dx_counts[:, non_zero_mask] / dx_total_counts_array[non_zero_mask].astype(np.float)
print rx_dx_counts_normed.shape

(1588, 14585)

In [55]:
rx_rx_counts_normed = rx_rx_counts / rx_total_counts_array.astype(np.float)
print rx_rx_counts_normed.shape

(1588, 1588)

In [56]:
most_frequent_df = []
for pert_id, ingredient_id in d_pert_id_ingredient_id.items():
    dx_counts = rx_dx_counts_normed[ingredient_id]
    rx_counts = rx_rx_counts_normed[ingredient_id]
    rec = {
        'pert_id': pert_id,
        'most_frequent_dx': d_id_diagnosis[np.argmax(dx_counts)],
        'most_frequent_rx': d_id_ingredient[np.argmax(rx_counts)],
    }
    most_frequent_df.append(rec)

most_frequent_df = pd.DataFrame(most_frequent_df).set_index('pert_id')
print most_frequent_df.shape
most_frequent_df.head(10)

(1564, 2)

,most_frequent_dx,most_frequent_rx
pert_id,,
BRD-K84281997,"Tracheostomy complication, unspecified",VITAMIN K 1
BRD-A17883755,"Other and unspecified cord entanglement, with ...",ZOLEDRONIC ACID
BRD-K15916496,"Subacute myeloid leukemia, in relapse",SORBITAN
BRD-A31159102,"Subacute leukemia of unspecified cell type, in...",ACAI BERRY EXTRACT
BRD-K72222507,Erysipelothrix infection,PROPYLENE
BRD-K29905972,Malignant carcinoid tumor of the kidney,ZOLEDRONIC ACID
BRD-K92049597,Circumscribed labyrinthitis,PUMPKIN SEED OIL
BRD-K47029922,Arthropathy associated with Reiter's disease a...,PINDOLOL
BRD-K04956647,"Retinopathy of prematurity, stage 4",QUERCETIN
BRD-A70461345,Of bypass graft of the extremities,BRETYLIUM

In [57]:
engine = create_engine('mysql://euclid:elements@amp.pharm.mssm.edu:3306/euclid4?charset=utf8')
most_frequent_df.to_sql('most_frequent_dx_rx', engine, 
                        if_exists='replace', 
                        dtype={'pert_id': NVARCHAR(20)}
                       )

# Insert the count matrices to the database

In [58]:
d_id_ingredient = dict(zip(id_ingredients.index, id_ingredients['Ingredient']))
print len(d_id_ingredient)
d_id_diagnosis = dict(zip(id_diagnoses.index, id_diagnoses['diagnosis']))
print len(d_id_diagnosis)

1588
14353

In [60]:
rx_names = np.array([d_id_ingredient.get(i, None) for i in range(rx_rx_counts.shape[0])])
rx_pert_ids = np.array([d_ingredient_id_pert_id.get(i, None) for i in range(rx_rx_counts.shape[0])])
ingredient_ids = np.arange(rx_rx_counts.shape[0])
# print rx_pert_ids

rx_pert_ids_mask = pd.isnull(rx_pert_ids)
rx_names_mask = pd.isnull(rx_names)

print rx_names_mask.sum(), rx_pert_ids_mask.sum()
print rx_names_mask.shape, rx_pert_ids_mask.shape

rx_rx_counts_df = pd.DataFrame(rx_rx_counts, 
                               index=ingredient_ids,
#                                columns=rx_names[~rx_names_mask]
                               columns=ingredient_ids
                              )
print rx_rx_counts_df.shape
rx_rx_counts_df.index.name='ingredient_id'
rx_rx_counts_df.head()

0 657
(1588,) (1588,)
(1588, 1588)

,0,1,2,3,4,5,6,7,8,9,...,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587
ingredient_id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,3,3,...,0,42,0,0,58,12,1,0,1256,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,0

In [61]:
rx_rx_counts_df = pd.melt(rx_rx_counts_df.reset_index(), 
                          id_vars=['ingredient_id'], 
                          value_vars=rx_rx_counts_df.columns.tolist(),
#                           var_name='co_prescribed_drug',
                          var_name='co_prescribed_drug_id',
                          value_name='count',
                         )
print rx_rx_counts_df.shape
rx_rx_counts_df = rx_rx_counts_df.query('count > 10')
print rx_rx_counts_df.shape
rx_rx_counts_df.head()

(2521744, 3)
(296506, 3)

      ingredient_id co_prescribed_drug_id  count
3188             12                     2     13
3189             13                     2   3187
3190             14                     2     13
3191             15                     2     15
3195             19                     2    170

In [62]:
rx_rx_counts_normed_df = pd.DataFrame(rx_rx_counts_normed, 
                                      index=ingredient_ids,
#                                       columns=rx_names[~rx_names_mask]
                                      columns=ingredient_ids
                                     )
print rx_rx_counts_normed_df.shape
rx_rx_counts_normed_df.index.name='ingredient_id'
rx_rx_counts_normed_df.head()

(1588, 1588)

,0,1,2,3,4,5,6,7,8,9,...,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587
ingredient_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,...,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,...,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000005,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.002822,0.00155,...,0.0,0.000998,0.0,0.0,0.000763,0.000846,0.000257,0.0,0.006699,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,...,0.0,0.000000,0.0,0.0,0.000013,0.000000,0.000000,0.0,0.000005,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,...,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000032,0.0

In [63]:
rx_rx_counts_normed_df = pd.melt(rx_rx_counts_normed_df.reset_index(), 
                          id_vars=['ingredient_id'], 
                          value_vars=rx_rx_counts_normed_df.columns.tolist(),
                          var_name='co_prescribed_drug_id',
                          value_name='normed_count',
                         )
print rx_rx_counts_normed_df.shape
print rx_rx_counts_normed_df.shape
rx_rx_counts_normed_df.head()

(2521744, 3)
(2521744, 3)

   ingredient_id co_prescribed_drug_id  normed_count
0              0                     0           0.0
1              1                     0           0.0
2              2                     0           0.0
3              3                     0           0.0
4              4                     0           0.0

In [64]:
rx_rx_counts_normed_df.loc[rx_rx_counts_df.index[:10]]
# Add the normed_count as a column of the rx_rx_counts_df
rx_rx_counts_df['normed_count'] = rx_rx_counts_normed_df.loc[rx_rx_counts_df.index]['normed_count']
print rx_rx_counts_df.shape
rx_rx_counts_df.head()

(296506, 4)

      ingredient_id co_prescribed_drug_id  count  normed_count
3188             12                     2     13      0.000433
3189             13                     2   3187      0.106092
3190             14                     2     13      0.000433
3191             15                     2     15      0.000499
3195             19                     2    170      0.005659

In [65]:
rx_rx_counts_df.dtypes

ingredient_id              int64
co_prescribed_drug_id     object
count                      int64
normed_count             float64
dtype: object

In [66]:
rx_rx_counts_df['co_prescribed_drug_id'] = rx_rx_counts_df['co_prescribed_drug_id'].astype(np.int)

In [67]:
engine = create_engine('mysql://euclid:elements@amp.pharm.mssm.edu:3306/euclid4?charset=utf8')
rx_rx_counts_df.to_sql('co_rx', engine, index=False, if_exists='replace')

In [68]:
dx_names = np.array([d_id_diagnosis.get(i, None) for i in range(rx_dx_counts.shape[1])])
# print rx_pert_ids

dx_names_mask = pd.isnull(dx_names)

diagnosis_ids = np.arange(rx_dx_counts.shape[1])[~dx_names_mask]


print dx_names_mask.sum()

rx_dx_counts_df = pd.DataFrame(rx_dx_counts[:, ~dx_names_mask], 
                               index=ingredient_ids,
#                                columns=dx_names[~dx_names_mask]
                               columns=diagnosis_ids
                              )
print rx_dx_counts_df.shape
rx_dx_counts_df.index.name='ingredient_id'
rx_dx_counts_df.head()

273
(1588, 14312)

,0,1,2,3,4,5,6,7,8,9,...,14575,14576,14577,14578,14579,14580,14581,14582,14583,14584
ingredient_id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,25,24,49,94,2,2939,12,8,10,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,20,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,21,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
rx_dx_counts_df = pd.melt(rx_dx_counts_df.reset_index(), 
                          id_vars=['ingredient_id'], 
                          value_vars=rx_dx_counts_df.columns.tolist(),
                          var_name='diagnosis_id',
                          value_name='count',
                         )
print rx_dx_counts_df.shape
rx_dx_counts_df = rx_dx_counts_df.query('count > 10')
print rx_dx_counts_df.shape
rx_dx_counts_df.head()

(22727456, 3)
(733240, 3)

     ingredient_id diagnosis_id  count
13              13            0    276
36              36            0     13
77              77            0     24
108            108            0     11
114            114            0     23

In [70]:
rx_dx_counts_normed_df = pd.DataFrame(rx_dx_counts_normed[:, ~dx_names_mask], 
                               index=ingredient_ids,
                               columns=diagnosis_ids
                              )
print rx_dx_counts_normed_df.shape
rx_dx_counts_normed_df.index.name='ingredient_id'
rx_dx_counts_normed_df.head()

(1588, 14312)

,0,1,2,3,4,5,6,7,8,9,...,14575,14576,14577,14578,14579,14580,14581,14582,14583,14584
ingredient_id,,,,,,,,,,,,,,,,,,,,,
0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000001,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000986,0.00094,0.001377,0.000533,0.001042,0.001144,0.002122,0.001526,0.000813,0.001812,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000014,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.00000,0.000000,0.000011,0.000000,0.000000,0.000015,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [71]:
rx_dx_counts_normed_df = pd.melt(rx_dx_counts_normed_df.reset_index(), 
                          id_vars=['ingredient_id'], 
                          value_vars=rx_dx_counts_normed_df.columns.tolist(),
                          var_name='diagnosis_id',
                          value_name='normed_count',
                         )
print rx_dx_counts_normed_df.shape

print rx_dx_counts_normed_df.shape
rx_dx_counts_normed_df.head()

(22727456, 3)
(22727456, 3)

   ingredient_id diagnosis_id  normed_count
0              0            0      0.000000
1              1            0      0.000000
2              2            0      0.000986
3              3            0      0.000000
4              4            0      0.000000

In [72]:
# Add the normed_count as a column of the rx_rx_counts_df
rx_dx_counts_df['normed_count'] = rx_dx_counts_normed_df.loc[rx_dx_counts_df.index]['normed_count']
print rx_dx_counts_df.shape
rx_dx_counts_df.head()

(733240, 4)

     ingredient_id diagnosis_id  count  normed_count
13              13            0    276      0.272189
36              36            0     13      0.012821
77              77            0     24      0.023669
108            108            0     11      0.010848
114            114            0     23      0.022682

In [73]:
rx_dx_counts_df.dtypes

ingredient_id      int64
diagnosis_id      object
count              int64
normed_count     float64
dtype: object

In [74]:
rx_dx_counts_df['diagnosis_id'] = rx_dx_counts_df['diagnosis_id'].astype(np.int)

In [75]:
rx_dx_counts_df.to_sql('co_dx', engine, index=False, if_exists='replace', 
                      )

In [76]:
del rx_dx_counts, rx_dx_counts_df, rx_dx_counts_normed, rx_dx_counts_normed_df
del rx_rx_counts, rx_rx_counts_df, rx_rx_counts_normed, rx_rx_counts_normed_df

# Transfer the Rx age KDE data

In [77]:
rx_age_kde = pd.read_sql_table('rx_age_kde', engine_laforge)
print rx_age_kde.shape
rx_age_kde.head()

(69250, 3)

   age_years   density  ingredient_id
0   7.682409  0.012317            1.0
1   9.103074  0.012775            1.0
2  10.523740  0.013165            1.0
3  11.944405  0.013484            1.0
4  13.365070  0.013729            1.0

In [78]:
rx_age_kde.dtypes

age_years        float64
density          float64
ingredient_id    float64
dtype: object

In [79]:
rx_age_kde['ingredient_id'] = rx_age_kde['ingredient_id'].astype(np.int)

In [80]:
# rx_age_kde['pert_id'] = [d_ingredient_id_pert_id.get(iid, None) for iid in rx_age_kde['ingredient_id']]
rx_age_kde.count()

age_years        69250
density          69250
ingredient_id    69250
dtype: int64

In [81]:
# rx_age_kde = rx_age_kde.drop(['ingredient_id'], axis=1).dropna()
print rx_age_kde.shape

(69250, 3)

In [82]:
rx_age_kde.dtypes

age_years        float64
density          float64
ingredient_id      int64
dtype: object

In [83]:
# max(rx_age_kde['pert_id'].map(len))

In [84]:
rx_age_kde.to_sql('rx_age_kde', engine, 
                  index=False, 
                  if_exists='replace',
                  dtype={'ingredient_id': Integer, 'age_years': Float, 'density': Float})

# Load the metadata_df used for the L1000FWD app

In [74]:
meta_df_l1000fwd = pd.read_csv('../data/metadata-full-anno.tsv', sep='\t').set_index('sig_id')
print meta_df_l1000fwd.shape
meta_df_l1000fwd.head()

(89419, 7)

,cell,dose,pert_id,perturbation,pvalue,time,drug_class
sig_id,,,,,,,
CPC015_MCF7_6H:BRD-A00546892:10.0,MCF7,10.0,BRD-A00546892,biperiden,0.0143,6,unannotated
CPC004_VCAP_6H:BRD-A00546892:10.0,VCAP,10.0,BRD-A00546892,biperiden,0.2056,6,unannotated
CPC015_ASC_24H:BRD-A00546892:10.0,ASC,10.0,BRD-A00546892,biperiden,0.2475,24,unannotated
CPC004_VCAP_24H:BRD-A00546892:10.0,VCAP,10.0,BRD-A00546892,biperiden,0.3039,24,unannotated
CPC015_PHH_24H:BRD-A00546892:10.0,PHH,10.0,BRD-A00546892,biperiden,0.3584,24,unannotated

In [75]:
meta_df_l1000fwd = meta_df_l1000fwd.merge(repo_df_by_pert.drop(['Name','Target'], axis=1), 
                                          left_on='pert_id', 
                                          right_index=True, how='left')
print meta_df_l1000fwd.shape
meta_df_l1000fwd.head()

(89419, 9)

,cell,dose,pert_id,perturbation,pvalue,time,drug_class,MOA,Phase
sig_id,,,,,,,,,
CPC015_MCF7_6H:BRD-A00546892:10.0,MCF7,10.0,BRD-A00546892,biperiden,0.0143,6,unannotated,acetylcholine receptor antagonist,Launched
CPC004_VCAP_6H:BRD-A00546892:10.0,VCAP,10.0,BRD-A00546892,biperiden,0.2056,6,unannotated,acetylcholine receptor antagonist,Launched
CPC015_ASC_24H:BRD-A00546892:10.0,ASC,10.0,BRD-A00546892,biperiden,0.2475,24,unannotated,acetylcholine receptor antagonist,Launched
CPC004_VCAP_24H:BRD-A00546892:10.0,VCAP,10.0,BRD-A00546892,biperiden,0.3039,24,unannotated,acetylcholine receptor antagonist,Launched
CPC015_PHH_24H:BRD-A00546892:10.0,PHH,10.0,BRD-A00546892,biperiden,0.3584,24,unannotated,acetylcholine receptor antagonist,Launched

In [76]:
meta_df_l1000fwd = meta_df_l1000fwd.merge(most_frequent_df, 
                       left_on='pert_id',
                       right_index=True,
                       how='left'
                      )
print meta_df_l1000fwd.shape
meta_df_l1000fwd.head()

(89419, 11)

,cell,dose,pert_id,perturbation,pvalue,time,drug_class,MOA,Phase,most_frequent_dx,most_frequent_rx
sig_id,,,,,,,,,,,
CPC015_MCF7_6H:BRD-A00546892:10.0,MCF7,10.0,BRD-A00546892,biperiden,0.0143,6,unannotated,acetylcholine receptor antagonist,Launched,Fitting and adjustment of other devices relate...,SELEGILINE
CPC004_VCAP_6H:BRD-A00546892:10.0,VCAP,10.0,BRD-A00546892,biperiden,0.2056,6,unannotated,acetylcholine receptor antagonist,Launched,Fitting and adjustment of other devices relate...,SELEGILINE
CPC015_ASC_24H:BRD-A00546892:10.0,ASC,10.0,BRD-A00546892,biperiden,0.2475,24,unannotated,acetylcholine receptor antagonist,Launched,Fitting and adjustment of other devices relate...,SELEGILINE
CPC004_VCAP_24H:BRD-A00546892:10.0,VCAP,10.0,BRD-A00546892,biperiden,0.3039,24,unannotated,acetylcholine receptor antagonist,Launched,Fitting and adjustment of other devices relate...,SELEGILINE
CPC015_PHH_24H:BRD-A00546892:10.0,PHH,10.0,BRD-A00546892,biperiden,0.3584,24,unannotated,acetylcholine receptor antagonist,Launched,Fitting and adjustment of other devices relate...,SELEGILINE

In [77]:
meta_df_l1000fwd.to_csv('../data/metadata-full-anno-with-EMR.tsv', sep='\t')